aiofiles
attrs
certifi
cffi
cfgrib
charset-normalizer
click
contourpy
cycler
eccodes
ecmwf-data
ecmwf-opendata
ecmwflibs
findlibs
fonttools
httptools
idna
kiwisolver
matplotlib
metview
multidict
multiurl
numpy
packaging
pandas
Pillow
pycparser
pyparsing
python-dateutil
pytz
PyYAML
requests
sanic
sanic-routing
shapely
six
tqdm
tzwhere
ujson
urllib3
uvloop
websockets
xarray
