aiofiles
aiohttp
attrs
certifi
cffi
cfgrib
charset-normalizer
click
contourpy
cycler
eccodes
ecmwf-data
ecmwf-opendata>=0.3.3
ecmwflibs
findlibs
Flask
fonttools
httptools
idna
itsdangerous
Jinja2
kiwisolver
MarkupSafe
marshmallow
matplotlib
metview
multidict
multiurl
numpy
packaging
pandas
Pillow
pycparser
pyparsing
python-dateutil
pytz
PyYAML
requests
sanic
sanic-routing
shapely
six
tqdm
tzwhere
ujson
urllib3
uvloop
websockets
Werkzeug
xarray
